<div>
    <h3>Najczęściej występujące kraje w grupach klientów</h3>
    <ul>
        {% for country in topCountriesByGroup %}
            <li><strong>Grupa {{ country.group_name }}</strong>: {{ country.countries }}</li>
        {% endfor %}
    </ul>
</div>
