<div>
    <h3>Najczęściej występujące źródła klientów w zależności od statusu</h3>
    <ul>
        {% for source in topSourcesByStatus %}
        <li> <strong>{{ source.status }}</strong>: {{ source.sources }}</li>
        {% endfor %}
    </ul>
</div>  